@import "_variables"; 
@import "_mixins";

/* Globales */
.position-general {
    @include flex_model(flex, row, wrap, space-around, center,  stretch);
    
    #logo{
        width: 65px;
        height: 65px;
        margin: 20px 0px 0px 0px;
    }
}
.btn-custom {
    background-color: $backgroundColor;
    margin: 10px 0px 10px 0px;
    border-radius: 30px;
    width: 120px;
    height: 30px;
    text-decoration: none;
    border: 2px solid $whiteColor;
    
    a {
        color: $blackColor;
        text-decoration: none;
    }
}
.headerColor {
    background-color: $backgroundColor;

    .logo{
        width: 60px;
        height: 60px;
    }
}
.inputSearch{
    @include flex_model(flex, row, nowrap, flex-end, center, stretch);
    border-radius: 25px;
    width: calc(80% - 50px);
    height: 30px;
    background-color: $whiteColor;
    
    img{
        width: 20px;
        height: 20px;
        margin: 0px 7px 3px 0px;
    }

    input{
        width: 100%;
        height: 30px;
        background-color: $whiteColor;
        border-radius: 30px;   
        border: 2px solid $whiteColor; 
    }

    input:focus{
        border: 0px solid $green;
        outline: none;    
    }
}
.headerGlobal {
    @include flex_model(flex, row, nowrap, center, center, stretch);
    background-color: $backgroundColor;
}
/* Main */
#section-login {
    @include flex_model(flex, row, wrap, center, center, stretch);
    padding-top: 150px;
}
.login-Box {

    input {
        display: block !important;
        margin: 0 0 10px 0;
        border: 2px solid $backgroundColor;
        border-radius: 10px;
        width: 300px;
        height: 30px;
    }

    span {
        display: block !important;
        margin: 0 0 10px 0;
        border-radius: 10px;
        width: 300px;
        height: 30px;
    }
}
.box-btn-login {
    margin-bottom: 100px;
}
.cbxOptions {
    border-radius: 50px;
    width: 150px;
    height: 30px;
    margin: 0 0 15px;
    text-align: center;
    border: 2px solid $backgroundColor;
}
.carousel-item.active {
    border: 1px solid $backgroundColor;
    border-radius: 10px;

    .card-Title {
        margin-top: 15px;
    }

    .img-carousel{
        width: 320px;
        height: 238px;
    }
}
.card-body img {
    width: 65%;
}
.img-carousel{
    width: 320px;
    height: 238px;
}
.date-custom {
    height: 28px;
    border-radius: 30px;
    text-decoration: none;
    border: 2px solid $backgroundColor;
}
#sectionCreateAccount {
    @include flex_model(flex, row, wrap, center, center, center);

    border-radius: 30px;
}
.createAccount-Box {
    @include flex_model(flex, column, wrap, space-evenly, center, center);
}
.btnLink{
    @include flex_model(flex, row, nowrap, center, center, stretch);

    width: 120px;
    height: 30px;
    background-color: $backgroundColor;
    border-radius: 20px;
    border: 2px solid $whiteColor;
    
    a {
        text-decoration: none;
        list-style: none;
        color: $blackColor;
    }
}
#menuHamburguesa{
    width: 30px; 
    height: 30px; 
    align-items: center;
}
/* Footer */
.footer-box {
    @include flex_model(flex, row, nowrap, flex-start, center, stretch);

    margin-top: 25%;
}
/*HISTORIAL DE COMPRAS*/
.headerHistory {
    background-color: $backgroundColor;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-template-rows: repeat(2, (35px, 35px));
    grid-column-gap: auto;

    .headerHistoryImg {
        @include flex_model(flex, column, nowrap, center, center, stretch);

        img{
            width: 70px;
            height: 70px;
            margin-top: 5px;
        }
    }

    .headerHistoryNav {
        @include flex_model(flex, row, nowrap, flex-start, stretch, stretch);

        img {
            width: 35px;
            height: 35px;
        }

        ul {
            margin-left: 7px;
            padding: 0;
        }
    }
}
/*Home*/
#iconMenu{
    width: 35px;
    height: 35px;
}

.ocultarMenu{
    display: none;
}
/* help */
.header-Help {
    background-color: $backgroundColor;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-template-rows: repeat(2, (25px, 15px)); /*1fr 1fr;*/
    grid-column-gap: auto;
    grid-row-gap: 2px;

    .header-HelpLogo {
        /*
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: stretch;
        */
        @include flex_model(flex, row, nowrap, center, center, stretch);

        img {
            width: 60px;
            height: 60px;
            margin: 10px 0px 0px 0px; 
        }
    }

    .header-HelpNav ul{
        /*
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        align-content: stretch;
        */
        @include flex_model(flex, row, nowrap, space-around, center, stretch);
        
        list-style: none;

        li a, .nav-compras-help li {
            color: black;
            text-decoration: none;
        }
    }
}
#section-Help {
    @include flex_model(flex, row, wrap, space-evenly, center, stretch);
    
    .cardHelp {
        @include flex_model(flex, column, wrap, center, center, stretch);

        border-radius: 15px;
        border: 1px solid $backgroundColor;
        box-shadow: 5px -3px 10px 5px rgb(193, 224, 246);
        margin-bottom: 10px;
        height: 190px;
    }

    li a {
        color: black;
        text-decoration: none;
        list-style: none;
    }
}

/* MEDIA QUERIES */
/* pantalla mayores a 768px */
@media (min-width: 768px){
    .hidden-headerSM-Until{
        display: none;
    }

    .hidden-headerSM-Onwards{
        @include flex_model(flex, row, nowrap, center, stretch, stretch);
        width: auto
    }

    .headerSM-Onwards {
        background-color: $backgroundColor;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        grid-template-rows: repeat(2, (65px, 45px));
        grid-column-gap: auto;
        grid-row-gap: 10px;

        .row {
            @include flex_model(flex, row, nowrap, center, center, stretch);

            #inputSearch{
                width: 100%;
                border-radius: 30px;
                margin-top: 10px;
                border: 2px solid $whiteColor; 
            }

            #btnSearch{
                border-radius: 20px;
                height: 30px;
                width: 80px;
                margin: 10px 0px 0px 0px;
                background-color: $whiteColor;
                border: 2px solid $whiteColor; 
            }

            .imgHeader {
                @include flex_model(flex, row, nowrap, flex-end, center, stretch);
            }

            img {
                width: 60px;
                height: 60px;
                margin: 10px 0px 0px 0px; 
            }
        }

        .nav-ulHome {
            @include flex_model(flex, row, wrap, space-between, flex-end, stretch);

            list-style: none;

            li a {
                color: $blackColor;
                text-decoration: none;
                margin: 0 50px 0px 0;
            }

            li a:hover {
                color: rgb(36, 36, 251);
            }

            img {
                width: 30px;
                height: 30px;
                margin-right: 20px;
            }
        }
    }

    .sectionSM-Onwards {
        display: grid;
        grid-auto-rows: auto;
        grid-column-gap: 20px;
        grid-auto-rows: auto;
        grid-template-rows: 1fr; 
        margin-bottom: 10px;

        .filtrosSM-Onwards, .filtrosSM-OnwardsCbx, .IconSM-Onwards{
            @include flex_model(flex, row, wrap, center, center, center);

            img {
                width: 35px;
                height: 35px;
                margin-right: 5px;
            }
        }

        .cbxOptions {
            margin-left: 5px;
        }

        .btn-custom {
            background-color: $backgroundColor;
            margin: 0px 0px 12px 5px;
            border-radius: 30px;
            width: 120px;
            height: 30px;
            color: $blackColor;
            text-decoration: none;
        }
    }

    .cardsSM-Onwards{
        display: grid;
        grid-template-columns: repeat(3, minmax(150px, 1fr));
        gap: 5px;

        .card{
            border-radius: 10px;
            width: 100%;
            height: auto;
            border: 1px solid $backgroundColor;
        }

        .card-footer-contact {
            img {
                width: 35px;
                height: 35px;
            }
        }
    }

    .cardHelp {
        width: 60%;
    }

    .footer-box{
        @include flex_model(flex, row, nowrap, center, center, stretch);

        margin-top: 5%;
    }

    /*HistoryCompras*/
    .sectionFilterSM {
        display: grid;
        grid-auto-rows: auto;
        grid-column-gap: 20px;
        grid-template-columns: 1fr; 
        grid-auto-rows: auto;
        grid-template-rows: 2fr;

        h3 {
            margin-top: 15px;
        }
    }

    /*Crear cuenta*/
    .sectionCreateAccount{
        margin-top: 70px;
        
        input {
            border: 2px solid $backgroundColor;
            width: 270px;
            border-radius: 15px;
            margin-bottom: 10px;
        }
    }
}

/* pantalla menores a 767px */
@media (max-width: 767px){
    .hidden-headerSM-Onwards{
        display: none !important;
    }
    .hidden-element-footer {
        display: none;
    }

    .hidden-element-section {
        display: none;
    }

    #icono{
        width: 37px;
        height: 37px;
        margin-right: 20px;
    }

    /*Historial compras*/
    .sectionSM-Until {
        @include flex_model(flex, row, nowrap, center, center, stretch);

        input, select, button {
            width: 120px;
            margin: 20px 5px 20px 5px;
        }
    }

    .carousel-inner {
        img {
            width: 35px;
            height: 35px;
        }
    }

    .footer-box{
        @include flex_model(flex, row, nowrap, center, center, stretch);
    }

    .cardHelp {
        width: 90%;
    }

    /*Crear cuenta*/
    .sectionCreateAccount{
        margin-top: 50px;

        input {
            border: 2px solid $backgroundColor;
            width: 250px;
            border-radius: 15px;
            margin-bottom: 10px;
        }
    }
}

/* pantalla mayores a 991 */
@media (min-width: 991px){
    #navList {
        display: none;
    }

    .cbxOptions {
        margin: 0 0 0px;
    }

    .sectionSM-Onwards {
        .btn-custom {
            background-color: $backgroundColor;
            margin: 0px 0px 3px 5px;
            border-radius: 30px;
            width: 120px;
            height: 30px;
            color: $blackColor;
            text-decoration: none;
        }
    }

    .filtrosSM-Onwards {
        margin-top: 20px;

        h1 {
            margin-right: 15px;
        }
    }

    #inputSearch, #btnSearch, .btnLink {
        border: 2px solid $whiteColor;
    }
}
