/* @import "./node_modules/bootstrap/scss/bootstrap.scss"; */
/* Constants */
$backgroundColor: rgb(106, 196, 252);
$blackColor: #000000;
$whiteColor: #fff;
/* Globales */
.position-general {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    #logo{
        width: 65px;
        height: 65px;
        margin: 20px 0px 0px 0px;
    }
}
.btn-custom {
    background-color: $backgroundColor;
    margin: 10px 0px 10px 0px;
    border-radius: 30px;
    width: 120px;
    height: 30px;
    text-decoration: none;

    :hover {
        background-color: $whiteColor;
        border: 2px solid $backgroundColor;
    }
    
    a {
        color: $blackColor;
        text-decoration: none;
    }
}
.headerColor {
    background-color: $backgroundColor;

    .logo{
        width: 60px;
        height: 60px;
    }
}
.inputSearch{
    display: flex;
    border-radius: 25px;
    width: calc(80% - 50px);
    height: 30px;
    background-color: $whiteColor;
    justify-content: flex-end;
    align-items: center;

    img{
        width: 20px;
        height: 20px;
        margin: 0px 7px 3px 0px;
    }

    input{
        width: 100%;
        height: 30px;
        background-color: $whiteColor;
        border-radius: 30px;    
        
    }

    input:focus{
        border: 0px solid green;
        outline: none;    
    }
}
.headerGlobal {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $backgroundColor;
}
/* Main */
#section-login {
    padding-top: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.login-Box {

    input {
        display: block !important;
        margin: 0 0 10px 0;
        border: 2px solid $backgroundColor;
        border-radius: 10px;
        width: 300px;
        height: 30px;
    }

    span {
        display: block !important;
        margin: 0 0 10px 0;
        border-radius: 10px;
        width: 300px;
        height: 30px;
    }
}
.box-btn-login {
    margin-bottom: 100px;
}
.cbxOptions {
    border-radius: 50px;
    width: 150px;
    height: 30px;
    margin: 0 0 15px;
    text-align: center;
    border: 2px solid $backgroundColor;
}
.carousel-item.active {
    border: 1px solid $backgroundColor;
    border-radius: 10px;

    .card-Title {
        margin-top: 15px;
    }

    .img-carousel{
        width: 320px;
        height: 238px;
    }
}
.card-body img {
    width: 85%;
}
.img-carousel{
    width: 320px;
    height: 238px;
}
.date-custom {
    height: 28px;
    border-radius: 30px;
    text-decoration: none;
    border: 2px solid $backgroundColor;
}
#sectionCreateAccount {
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  
  .createAccount-Box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
  }
  #form_createAccount{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
  }
  
/* Footer */
.footer-box {
    display: flex;
    align-items: center;
    margin-top: 25%;
}
/*HISTORIAL DE COMPRAS*/
.headerHistory {
    background-color: $backgroundColor;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-template-rows: repeat(2, (35px, 35px));
    grid-column-gap: auto;

    .headerHistoryImg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img{
            width: 70px;
            height: 70px;
            margin-top: 5px;
        }
    }

    .headerHistoryNav {
        display: flex;
        align-items: flex-start;

        img {
            width: 35px;
            height: 35px;
        }

        ul {
            margin-left: 7px;
            padding: 0;
        }
    }
}

/* help */
.header-Help {
    background-color: $backgroundColor;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-template-rows: repeat(2, (25px, 15px)); /*1fr 1fr;*/
    grid-column-gap: auto;
    grid-row-gap: 2px;

    .header-HelpLogo {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 60px;
            height: 60px;
            margin: 10px 0px 0px 0px; 
        }
    }

    .header-HelpNav ul{
        display: flex;
        justify-content: flex-start;
        align-items: center;

        img {
            width: 30px;
            height: 30px;
            margin: 0px 10px 0px 0px; 
        }

        li a, .nav-compras-help li {
            color: black;
            text-decoration: none;
        }
    }
}

#section-Help {
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: stretch;
    
    .cardHelp {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        border: 1px solid $backgroundColor;
        box-shadow: 5px -3px 10px 5px rgb(193, 224, 246);
        margin-bottom: 10px;
        height: 190px;
    }

    li a {
        color: black;
        text-decoration: none;
        list-style: none;
    }
}

/* MEDIA QUERIES */
/*pantalla mayores a 768px{*/
@media (min-width: 768px){
    .hidden-headerSM-Until{
        display: none;
    }

    .hidden-headerSM-Onwards{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .headerSM-Onwards {
        background-color: $backgroundColor;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        grid-template-rows: repeat(2, (65px, 45px));/*1fr 1fr;*/
        grid-column-gap: auto;
        grid-row-gap: 10px;

        .row {
            display: flex;
            align-items: center;
            justify-content: center;

            #inputSearch{
                width: 100%;
                border-radius: 30px;
                margin-top: 10px;
            }

            #btnSearch{
                border-radius: 20px;
                height: 30px;
                width: 80px;
                margin: 10px 0px 0px 0px;
                background-color: $whiteColor;
            }

            .imgHeader {
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }

            img {
                width: 60px;
                height: 60px;
                margin: 10px 0px 0px 0px; 
            }
        }

        .nav-ulHome {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-end;
            list-style: none;

            li a {
                color: $blackColor;
                text-decoration: none;
                margin: 0 50px 0px 0;
            }

            li a:hover {
                color: rgb(36, 36, 251);
            }

            img {
                width: 30px;
                height: 30px;
                margin-right: 20px;
            }
        }
    }

    .sectionSM-Onwards {
        display: grid;
        grid-auto-rows: auto;
        grid-column-gap: 20px;
        grid-template-columns: 15% 85%; 
        grid-auto-rows: auto;
        grid-template-rows: 1fr; 
        margin-bottom: 10px;

        .filtrosSM-Onwards, .filtrosSM-OnwardsCbx, .IconSM-Onwards{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            align-content: center;

            img {
                width: 35px;
                height: 35px;
                margin-right: 5px;
            }
        }

        .cbxOptions {
            margin-left: 5px;
        }

        .btn-custom {
            background-color: $backgroundColor;
            margin: 0px 0px 12px 5px;
            border-radius: 30px;
            width: 120px;
            height: 30px;
            color: $blackColor;
            text-decoration: none;
        }
    }

    .cardsSM-Onwards{
        display: grid;
        grid-template-columns: repeat(3, minmax(170px, 1fr));
        gap: 5px;

        .card{
            border-radius: 10px;
            width: 100%;
            height: auto;
            border: 1px solid $backgroundColor;
        }

        .card-footer-contact {
            img {
                width: 35px;
                height: 35px;
            }
        }
    }

    .cardHelp {
        width: 60%;
    }

    .footer-box{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5%;
       
        span {
            width: 25%;
        }
    }

    /*HistoryCompras*/
    .sectionFilterSM {
        display: grid;
        grid-auto-rows: auto;
        grid-column-gap: 20px;
        grid-template-columns: 1fr; 
        grid-auto-rows: auto;
        grid-template-rows: 2fr;

        h3 {
            margin-top: 15px;
        }
    }

    /*Crear cuenta*/
    .sectionCreateAccount{
        margin-top: 70px;
        
        input {
            border: 2px solid $backgroundColor;
            width: 270px;
            border-radius: 15px;
            margin-bottom: 10px;
        }
    }
}

/*pantalla menores a 767px*/
@media (max-width: 767px){
    .hidden-headerSM-Onwards{
        display: none !important;
    }
    .hidden-element-footer {
        display: none;
    }

    .hidden-element-section {
        display: none;
    }

    #icono{
        width: 37px;
        height: 37px;
        margin-right: 20px;
    }

    /*Historial compras*/
    .sectionSM-Until {
        display: flex;
        justify-content: center;
        align-items: center;

        input, select, button {
            width: 120px;
            margin: 20px 5px 20px 5px;
        }
    }

    .carousel-inner {
        img {
            width: 35px;
            height: 35px;
        }
    }

    .footer-box{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cardHelp {
        width: 90%;
    }

    /*Crear cuenta*/
    .sectionCreateAccount{
        margin-top: 50px;

        input {
            border: 2px solid $backgroundColor;
            width: 250px;
            border-radius: 15px;
            margin-bottom: 10px;
        }
    }
}
