/* @import "./node_modules/bootstrap/scss/bootstrap.scss"; */
/* Constants */
/* Globales */
.position-general {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.position-general #logo {
  width: 65px;
  height: 65px;
  margin: 20px 0px 0px 0px;
}

.btn-custom {
  background-color: rgb(106, 196, 252);
  margin: 10px 0px 10px 0px;
  border-radius: 30px;
  width: 120px;
  height: 30px;
  text-decoration: none;
  border: 2px solid #fff;
}
.btn-custom a {
  color: #000000;
  text-decoration: none;
}

.headerColor {
  background-color: rgb(106, 196, 252);
}
.headerColor .logo {
  width: 60px;
  height: 60px;
}

.inputSearch {
  display: flex;
  border-radius: 25px;
  width: calc(80% - 50px);
  height: 30px;
  background-color: #fff;
  justify-content: flex-end;
  align-items: center;
}
.inputSearch img {
  width: 20px;
  height: 20px;
  margin: 0px 7px 3px 0px;
}
.inputSearch input {
  width: 100%;
  height: 30px;
  background-color: #fff;
  border-radius: 30px;
  border: 2px solid #fff;
}
.inputSearch input:focus {
  border: 0px solid green;
  outline: none;
}

.headerGlobal {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(106, 196, 252);
}

/* Main */
#section-login {
  padding-top: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.login-Box input {
  display: block !important;
  margin: 0 0 10px 0;
  border: 2px solid rgb(106, 196, 252);
  border-radius: 10px;
  width: 300px;
  height: 30px;
}
.login-Box span {
  display: block !important;
  margin: 0 0 10px 0;
  border-radius: 10px;
  width: 300px;
  height: 30px;
}

.box-btn-login {
  margin-bottom: 100px;
}

.cbxOptions {
  border-radius: 50px;
  width: 150px;
  height: 30px;
  margin: 0 0 15px;
  text-align: center;
  border: 2px solid rgb(106, 196, 252);
}

.carousel-item.active {
  border: 1px solid rgb(106, 196, 252);
  border-radius: 10px;
}
.carousel-item.active .card-Title {
  margin-top: 15px;
}
.carousel-item.active .img-carousel {
  width: 320px;
  height: 238px;
}

.card-body img {
  width: 85%;
}

.img-carousel {
  width: 320px;
  height: 238px;
}

.date-custom {
  height: 28px;
  border-radius: 30px;
  text-decoration: none;
  border: 2px solid rgb(106, 196, 252);
}

#sectionCreateAccount {
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.createAccount-Box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

.btnLink {
  width: 120px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(106, 196, 252);
  border-radius: 20px;
  border: 2px solid #fff;
}
.btnLink a {
  text-decoration: none;
  list-style: none;
  color: #000000;
}

#menuHamburguesa {
  width: 30px;
  height: 30px;
  align-items: center;
}

/* Footer */
.footer-box {
  display: flex;
  align-items: center;
  margin-top: 25%;
}

/*HISTORIAL DE COMPRAS*/
.headerHistory {
  background-color: rgb(106, 196, 252);
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-template-rows: repeat(2, 35px, 35px);
  grid-column-gap: auto;
}
.headerHistory .headerHistoryImg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.headerHistory .headerHistoryImg img {
  width: 70px;
  height: 70px;
  margin-top: 5px;
}
.headerHistory .headerHistoryNav {
  display: flex;
  align-items: flex-start;
}
.headerHistory .headerHistoryNav img {
  width: 35px;
  height: 35px;
}
.headerHistory .headerHistoryNav ul {
  margin-left: 7px;
  padding: 0;
}

/*Home*/
#iconMenu {
  width: 35px;
  height: 35px;
}

.ocultarMenu {
  display: none;
}

/* help */
.header-Help {
  background-color: rgb(106, 196, 252);
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-template-rows: repeat(2, 25px, 15px); /*1fr 1fr;*/
  grid-column-gap: auto;
  grid-row-gap: 2px;
}
.header-Help .header-HelpLogo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-Help .header-HelpLogo img {
  width: 60px;
  height: 60px;
  margin: 10px 0px 0px 0px;
}
.header-Help .header-HelpNav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.header-Help .header-HelpNav ul li a, .header-Help .header-HelpNav ul .nav-compras-help li {
  color: black;
  text-decoration: none;
}

#section-Help {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: stretch;
}
#section-Help .cardHelp {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: 1px solid rgb(106, 196, 252);
  box-shadow: 5px -3px 10px 5px rgb(193, 224, 246);
  margin-bottom: 10px;
  height: 190px;
}
#section-Help li a {
  color: black;
  text-decoration: none;
  list-style: none;
}

/* MEDIA QUERIES */
/* pantalla mayores a 768px */
@media (min-width: 768px) {
  .hidden-headerSM-Until {
    display: none;
  }
  .hidden-headerSM-Onwards {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .headerSM-Onwards {
    background-color: rgb(106, 196, 252);
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-template-rows: repeat(2, 65px, 45px); /*1fr 1fr;*/
    grid-column-gap: auto;
    grid-row-gap: 10px;
  }
  .headerSM-Onwards .row {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .headerSM-Onwards .row #inputSearch {
    width: 100%;
    border-radius: 30px;
    margin-top: 10px;
    border: 2px solid #fff;
  }
  .headerSM-Onwards .row #btnSearch {
    border-radius: 20px;
    height: 30px;
    width: 80px;
    margin: 10px 0px 0px 0px;
    background-color: #fff;
    border: 2px solid #fff;
  }
  .headerSM-Onwards .row .imgHeader {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .headerSM-Onwards .row img {
    width: 60px;
    height: 60px;
    margin: 10px 0px 0px 0px;
  }
  .headerSM-Onwards .nav-ulHome {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    list-style: none;
  }
  .headerSM-Onwards .nav-ulHome li a {
    color: #000000;
    text-decoration: none;
    margin: 0 50px 0px 0;
  }
  .headerSM-Onwards .nav-ulHome li a:hover {
    color: rgb(36, 36, 251);
  }
  .headerSM-Onwards .nav-ulHome img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
  }
  .sectionSM-Onwards {
    display: grid;
    grid-auto-rows: auto;
    grid-column-gap: 20px;
    /*grid-template-columns: 15% 85%; */
    grid-auto-rows: auto;
    grid-template-rows: 1fr;
    margin-bottom: 10px;
  }
  .sectionSM-Onwards .filtrosSM-Onwards, .sectionSM-Onwards .filtrosSM-OnwardsCbx, .sectionSM-Onwards .IconSM-Onwards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .sectionSM-Onwards .filtrosSM-Onwards img, .sectionSM-Onwards .filtrosSM-OnwardsCbx img, .sectionSM-Onwards .IconSM-Onwards img {
    width: 35px;
    height: 35px;
    margin-right: 5px;
  }
  .sectionSM-Onwards .cbxOptions {
    margin-left: 5px;
  }
  .sectionSM-Onwards .btn-custom {
    background-color: rgb(106, 196, 252);
    margin: 0px 0px 12px 5px;
    border-radius: 30px;
    width: 120px;
    height: 30px;
    color: #000000;
    text-decoration: none;
  }
  .cardsSM-Onwards {
    display: grid;
    grid-template-columns: repeat(3, minmax(170px, 1fr));
    gap: 5px;
  }
  .cardsSM-Onwards .card {
    border-radius: 10px;
    width: 100%;
    height: auto;
    border: 1px solid rgb(106, 196, 252);
  }
  .cardsSM-Onwards .card-footer-contact img {
    width: 35px;
    height: 35px;
  }
  .cardHelp {
    width: 60%;
  }
  .footer-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
  }
  /*HistoryCompras*/
  .sectionFilterSM {
    display: grid;
    grid-auto-rows: auto;
    grid-column-gap: 20px;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-template-rows: 2fr;
  }
  .sectionFilterSM h3 {
    margin-top: 15px;
  }
  /*Crear cuenta*/
  .sectionCreateAccount {
    margin-top: 70px;
  }
  .sectionCreateAccount input {
    border: 2px solid rgb(106, 196, 252);
    width: 270px;
    border-radius: 15px;
    margin-bottom: 10px;
  }
}
/* pantalla menores a 767px */
@media (max-width: 767px) {
  .hidden-headerSM-Onwards {
    display: none !important;
  }
  .hidden-element-footer {
    display: none;
  }
  .hidden-element-section {
    display: none;
  }
  #icono {
    width: 37px;
    height: 37px;
    margin-right: 20px;
  }
  /*Historial compras*/
  .sectionSM-Until {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sectionSM-Until input, .sectionSM-Until select, .sectionSM-Until button {
    width: 120px;
    margin: 20px 5px 20px 5px;
  }
  .carousel-inner img {
    width: 35px;
    height: 35px;
  }
  .footer-box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cardHelp {
    width: 90%;
  }
  /*Crear cuenta*/
  .sectionCreateAccount {
    margin-top: 50px;
  }
  .sectionCreateAccount input {
    border: 2px solid rgb(106, 196, 252);
    width: 250px;
    border-radius: 15px;
    margin-bottom: 10px;
  }
}
/* pantalla mayores a 991 */
@media (min-width: 991px) {
  #navList {
    display: none;
  }
  .cbxOptions {
    margin: 0 0 0px;
  }
  .sectionSM-Onwards .btn-custom {
    background-color: rgb(106, 196, 252);
    margin: 0px 0px 3px 5px;
    border-radius: 30px;
    width: 120px;
    height: 30px;
    color: #000000;
    text-decoration: none;
  }
  .filtrosSM-Onwards {
    margin-top: 20px;
  }
  .filtrosSM-Onwards h1 {
    margin-right: 15px;
  }
  #inputSearch, #btnSearch, .btnLink {
    border: 2px solid #fff;
  }
}/*# sourceMappingURL=main.css.map */